<div class="comments">
    <span>评论内容如下：</span>
    {% for comment in comments %}
        <div class="comment">
            <div class="comment-date">{{ moment(comment.comment_time).fromNow() }}</div>
            <div class="comment-image">
                <img src="{{ User.gravatar(email=comment.email,size=40) }}"/>
            </div>
            <div class="comment-email">
                {{ comment.email }}
            </div>
            <div class="comment-content">
                {{ comment.content }}
            </div>
        </div>
    {% endfor %}
</div>
