<div class="comments">
    {% for comment in comments %}
        <div class="comment">
            <div class="comment-image">
                <img src="{{ User.gravatar(email=comment.email,size=50) }}"/>
            </div>
            <div class="comment-text">
                <span>{{ comment.email }} - </span>
                <span>{{ moment(comment.comment_time).fromNow() }}</span><br>
                <span>{{ comment.content }}</span>
            </div>
        </div>
    {% endfor %}
</div>
