{% macro pagination_widget(pagination, endpoint) %}

    <nav class="navigation pagination" role="navigation">
        <h2 class="screen-reader-text">Posts navigation</h2>
        <div class="nav-links">
            {% if pagination.has_prev %}
                <a class="prev page-numbers" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}">
                    <i class="fa fa-angle-left"></i>
                </a>
            {% endif %}
            {% for p in pagination.iter_pages() %}
                {% if p == pagination.page %}
                    <span class='page-numbers current'>{{ p }}</span>
                {% else %}
                    <a class='page-numbers' href='{{ url_for(endpoint,page=p,**kwargs) }}'>{{ p }}</a>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <a class="next page-numbers" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}">
                    <i class="fa fa-angle-right"></i>
                </a>
            {% endif %}
        </div>
    </nav>
{% endmacro %}
