{% for post in posts %}
    <article id="post-{{ post.id }}"
             class="blog_post_container post-{{ post.id }} post type-post status-publish format-image has-post-thumbnail hentry category-images-posts category-life-style tag-people post_format-post-format-image">


        <div class="blog_post clearfix">
            <div class="posts_list_wrapper clearfix">
                <div class="post_thumbnail_wrapper">
                    <div class="blog_post_banner blog_post_image"><a
                            href="{{ url_for('main.post',post_id=post.id, _external=True) }}"
                            title="{{ post.title }}"><img
                            width="940" height="400"
                            src="https://i.ytimg.com/vi/OvhoYbjtiKc/maxresdefault.jpg"
                            class="img-responsive wp-post-image" alt="Resturant-Employer"/></a>
                    </div>
                </div>
                <div class="post_info_wrapper">
                    <!-- use this wrapper in list style only to group all info far from thumbnail wrapper -->


                    {% include '_header.html' %}

                    <div class="entry-content blog_post_text blog_post_description">
                        <p>{{ post.content | part_text }}
                            &hellip;
                        </p>
                    </div>

                    <div class="blog_post_control clearfix">


                        <div class="blog_post_control_item blog_post_readmore">
                            <a href="{{ url_for('main.post',post_id=post.id, _external=True) }}"
                               class="read_more_link">Continue Reading</a></div>

                        {% include '_share.html' %}
                    </div>

                </div>
                <!-- .post_info_wrapper close post_info_wrapper in cas of list style-->
            </div> <!-- .posts_list_wrapper -->

        </div>
    </article><!-- #post-## -->
{% endfor %}



