{% for post in posts %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="{{ url_for('.post',post_id=post.id) }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                </a>
                <p class="post-meta">Li发布于{{ moment(post.post_time).format('LLL') }}</p>
            </div>
            <hr>
        </div>
    </div>
{% endfor %}



