{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}文章归档 - Li's blog{% endblock %}
{% block imgUrl %}https://ooo.0o0.ooo/2017/03/06/58bd35bb2a3d8.jpg{% endblock %}
{% block myHead %}文章归档{% endblock %}

{% block page_content %}
    {% for year in category %}
        <h4>{{ year }}年</h4>
        {% for month in category[year] %}
            <h4>{{ month }}月</h4>
            {% for post in category[year][month] %}
                <a href="{{ url_for('.post',post_id=post.id) }}"><strong>{{ post.title }}</strong></a><br>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    <hr>
    <h3>
    标签云
    </h3>
    {% for tag in tags %}
        <a href="{{ url_for('main.tag', tag_id=tag.id) }}">{{ tag.tag_name }}</a>
    {% endfor %}
{% endblock %}