{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Li's blog{% endblock %}
{% block imgUrl %}{{ url_for('static',filename='img/home-bg.jpg') }}{% endblock %}
{% block myHead %}Li's blog{% endblock %}
{% block mySubheading %}写字的地方{% endblock %}

{% block page_content %}

    <!-- Main Content -->
    <div class="container">
        {% include '_posts.html' %}
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index')}}
            </div>
        {% endif %}
    </div>
    <hr>
{% endblock %}
